@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<input id="File1" type="file" />
<span style="color:green;">

</span>	<address>
	One Microsoft Way<br />
	Redmond, WA 98052-6399<br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>
<input id="btnShow" type="button" value="Random Button" />

<script type="text/javascript">
	function btnShow_onclick() 
	{
		alert(window.txtUserMessage.value);
	}

</script>

<address>
	<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
