@{
	ViewBag.Title = "Home Page";
}

<style>

    .jumbotron {
        /*background-image: url(/Images/SpaceWebNoText.png);*/
        background-color: rgba(0, 0, 0, 0.2);
        /*background-repeat: no-repeat;
        background-size: contain;*/
        font-family: Halloweb;
        color:cadetblue;
    }
    .row {
        background-image: url(/Images/spiderweb.png);
        background-color: rgba(0, 0, 0, 0.2);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        background-clip: padding-box;
        font-family:Halloweb;
        color:darkgray;
    }
</style>


	<div class="jumbotron">

		<h1>Star Web 1.0 <img src="~/Images/SpaceWebText.png" width="400"></h1>

		<p class="lead">Welcome to Star Web a simple game. </p>

	</div>
	<img src="~/Images/SpaceWebImage.png" width="200" />
	<div class="row">
		<div class="col-md-4">
			<h2>Getting started</h2>
			<p>

				Descriptions / Instructions to go here.
			</p>
			
		</div>

	</div>
